* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: lightgrey;
  line-height: 1.5;
}

main {
  max-width: 800px;
  margin: 20px auto 0;
  background-color: white;
  padding: 40px;
  border: 5px solid black;
}

header {
  border-top: 5px solid black;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  margin-bottom: 0;
}

.testo-verde {
  color: rgb(121, 189, 19);
}

h3 {
  color: #377cea;
}

section {
  margin-bottom: 30px;
}

section:first-of-type {
  margin-top: 30px;
}

article {
  margin-bottom: 20px;
}

address {
  font-style: normal;
  margin-top: 10px;
}

footer {
  text-align: left;
}

footer a {
  margin-right: 15px;
}

p,
h2,
h3,
ul {
  margin-top: 10px;
}
